@model MyDemo.ViewModels.VideoGamesViewModel
@{
    ViewBag.Title = "Video Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Rating</th>
    </tr>
    <tr>
        <td>@Model.Game.Id</td>
        <td>@Model.Game.Name</td>
        <td>@Model.Game.Genre</td>
        <td>@Model.Game.Rating</td>
    </tr>
</table>


@*
    This is how you write a comment    
*@


