@model MyDemo.ViewModels.VideoGamesViewModel
@{
    ViewBag.Title = "Video Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<h3>Name: @Model.Game.Name</h3>
<p>Rating: @Model.Game.Rating</p>
<p>Genre: @Model.Game.Genre</p>


@*
    This is how you write a comment    
*@


