@model MyDemo.Models.VideoGame
@{
    ViewBag.Title = "Video Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video Games I Play</h2>

<table>Name: @Model.Name</table>
<p>Rating: @Model.Rating</p>
<p>Genre: @Model.Genre</p>


<p></p>

@*
    This is how you write a comment    
*@


